:root
{
	--PAL_RED-50: #FFEBEE;
	--PAL_RED-100: #FFCDD2;
	--PAL_RED-200: #EF9A9A;
	--PAL_RED-300: #E57373;
	--PAL_RED-400: #EF5350;
	--PAL_RED-500: #F44336;
	--PAL_RED-600: #E53935;
	--PAL_RED-700: #D32F2F;
	--PAL_RED-800: #C62828;
	--PAL_RED-900: #B71C1C;
	--PAL_RED-A100: #FF8A80;
	--PAL_RED-A200: #FF5252;
	--PAL_RED-A400: #FF1744;
	--PAL_RED-A700: #D50000;

	--PAL_PINK-50: #FCE4EC;
	--PAL_PINK-100: #F8BBD0;
	--PAL_PINK-200: #F48FB1;
	--PAL_PINK-300: #F06292;
	--PAL_PINK-400: #EC407A;
	--PAL_PINK-500: #E91E63;
	--PAL_PINK-600: #D81B60;
	--PAL_PINK-700: #C2185B;
	--PAL_PINK-800: #AD1457;
	--PAL_PINK-900: #880E4F;
	--PAL_PINK-A100: #FF80AB;
	--PAL_PINK-A200: #FF4081;
	--PAL_PINK-A400: #F50057;
	--PAL_PINK-A700: #C51162;

	--PAL_PURPLE-50: #F3E5F5;
	--PAL_PURPLE-100: #E1BEE7;
	--PAL_PURPLE-200: #CE93D8;
	--PAL_PURPLE-300: #BA68C8;
	--PAL_PURPLE-400: #AB47BC;
	--PAL_PURPLE-500: #9C27B0;
	--PAL_PURPLE-600: #8E24AA;
	--PAL_PURPLE-700: #7B1FA2;
	--PAL_PURPLE-800: #6A1B9A;
	--PAL_PURPLE-900: #4A148C;
	--PAL_PURPLE-A100: #EA80FC;
	--PAL_PURPLE-A200: #E040FB;
	--PAL_PURPLE-A400: #D500F9;
	--PAL_PURPLE-A700: #AA00FF;

	--PAL_DEEP-PURPLE-50: #EDE7F6;
	--PAL_DEEP-PURPLE-100: #D1C4E9;
	--PAL_DEEP-PURPLE-200: #B39DDB;
	--PAL_DEEP-PURPLE-300: #9575CD;
	--PAL_DEEP-PURPLE-400: #7E57C2;
	--PAL_DEEP-PURPLE-500: #673AB7;
	--PAL_DEEP-PURPLE-600: #5E35B1;
	--PAL_DEEP-PURPLE-700: #512BA8;
	--PAL_DEEP-PURPLE-800: #4527A0;
	--PAL_DEEP-PURPLE-900: #311B92;
	--PAL_DEEP-PURPLE-A100: #B388FF;
	--PAL_DEEP-PURPLE-A200: #7C4DFF;
	--PAL_DEEP-PURPLE-A400: #651FFF;
	--PAL_DEEP-PURPLE-A700: #7200EA;

	--PAL_INDIGO-50: #E8EAF6;
	--PAL_INDIGO-100: #C5CAE9;
	--PAL_INDIGO-200: #9FA8DA;
	--PAL_INDIGO-300: #7986CB;
	--PAL_INDIGO-400: #5C6BC0;
	--PAL_INDIGO-500: #3F51B5;
	--PAL_INDIGO-600: #3949AB;
	--PAL_INDIGO-700: #303F9F;
	--PAL_INDIGO-800: #283593;
	--PAL_INDIGO-900: #1A237E;
	--PAL_INDIGO-A100: #8C9EFF;
	--PAL_INDIGO-A200: #536DFE;
	--PAL_INDIGO-A400: #3D5AFE;
	--PAL_INDIGO-A700: #304FFE;

	--PAL_BLUE-50: #E3F2FD;
	--PAL_BLUE-100: #BBDEFB;
	--PAL_BLUE-200: #90CAF9;
	--PAL_BLUE-300: #64B5F6;
	--PAL_BLUE-400: #42A5F5;
	--PAL_BLUE-500: #2196F3;
	--PAL_BLUE-600: #1E88E5;
	--PAL_BLUE-700: #1976D2;
	--PAL_BLUE-800: #1565C0;
	--PAL_BLUE-900: #0D47A1;
	--PAL_BLUE-A100: #82B1FF;
	--PAL_BLUE-A200: #448AFF;
	--PAL_BLUE-A400: #2979FF;
	--PAL_BLUE-A700: #2962FF;

	--PAL_LIGHT-BLUE-50: #E1F5FE;
	--PAL_LIGHT-BLUE-100: #B3D5FC;
	--PAL_LIGHT-BLUE-200: #81D4FA;
	--PAL_LIGHT-BLUE-300: #4FC3F7;
	--PAL_LIGHT-BLUE-400: #29B6F6;
	--PAL_LIGHT-BLUE-500: #04A9F4;
	--PAL_LIGHT-BLUE-600: #039BE5;
	--PAL_LIGHT-BLUE-700: #0288D1;
	--PAL_LIGHT-BLUE-800: #0277BD;
	--PAL_LIGHT-BLUE-900: #01579B;
	--PAL_LIGHT-BLUE-A100: #80D8FF;
	--PAL_LIGHT-BLUE-A200: #40C4FF;
	--PAL_LIGHT-BLUE-A400: #00B0FF;
	--PAL_LIGHT-BLUE-A700: #0091EA;

	--PAL_CYAN-50: #E0F7FA;
	--PAL_CYAN-100: #B2EBF2;
	--PAL_CYAN-200: #80DEEA;
	--PAL_CYAN-300: #4DD0E1;
	--PAL_CYAN-400: #26C6DA;
	--PAL_CYAN-500: #00BCD4;
	--PAL_CYAN-600: #00ACC1;
	--PAL_CYAN-700: #0097A7;
	--PAL_CYAN-800: #00838F;
	--PAL_CYAN-900: #006064;
	--PAL_CYAN-A100: #84FFFF;
	--PAL_CYAN-A200: #18FFFF;
	--PAL_CYAN-A400: #00E5FF;
	--PAL_CYAN-A700: #00B8D4;

	--PAL_TEAL-50: #E0F2F1;
	--PAL_TEAL-100: #B2DFDB;
	--PAL_TEAL-200: #80CBC4;
	--PAL_TEAL-300: #4DB6AC;
	--PAL_TEAL-400: #26A69A;
	--PAL_TEAL-500: #009688;
	--PAL_TEAL-600: #00897B;
	--PAL_TEAL-700: #00796B;
	--PAL_TEAL-800: #00695C;
	--PAL_TEAL-900: #004D40;
	--PAL_TEAL-A100: #A7FFEB;
	--PAL_TEAL-A200: #64FFDA;
	--PAL_TEAL-A400: #1DE9B6;
	--PAL_TEAL-A700: #00BFA5;

	--PAL_GREEN-50: #E8F5E9;
	--PAL_GREEN-100: #C8E6C9;
	--PAL_GREEN-200: #A5D6A7;
	--PAL_GREEN-300: #81C784;
	--PAL_GREEN-400: #66BA6A;
	--PAL_GREEN-500: #4CAF50;
	--PAL_GREEN-600: #43A047;
	--PAL_GREEN-700: #388E3C;
	--PAL_GREEN-800: #2E7D32;
	--PAL_GREEN-900: #1B5E20;
	--PAL_GREEN-A100: #B9F6CA;
	--PAL_GREEN-A200: #69F0AE;
	--PAL_GREEN-A400: #00E676;
	--PAL_GREEN-A700: #00C853;

	--PAL_LIGHT-GREEN-50: #F1F8E9;
	--PAL_LIGHT-GREEN-100: #DCEDC8;
	--PAL_LIGHT-GREEN-200: #C5E1A5;
	--PAL_LIGHT-GREEN-300: #AED581;
	--PAL_LIGHT-GREEN-400: #9CCC65;
	--PAL_LIGHT-GREEN-500: #8BC34A;
	--PAL_LIGHT-GREEN-600: #7CB342;
	--PAL_LIGHT-GREEN-700: #689F38;
	--PAL_LIGHT-GREEN-800: #558B2F;
	--PAL_LIGHT-GREEN-900: #33691E;
	--PAL_LIGHT-GREEN-A100: #CCFF90;
	--PAL_LIGHT-GREEN-A200: #B2FF59;
	--PAL_LIGHT-GREEN-A400: #76FF03;
	--PAL_LIGHT-GREEN-A700: #64DD17;

	--PAL_LIME-50: #F9FBE7;
	--PAL_LIME-100: #F0F4C3;
	--PAL_LIME-200: #E6EE9C;
	--PAL_LIME-300: #DCE775;
	--PAL_LIME-400: #D4E157;
	--PAL_LIME-500: #CDDC39;
	--PAL_LIME-600: #C0CA33;
	--PAL_LIME-700: #AFB42B;
	--PAL_LIME-800: #9E9D24;
	--PAL_LIME-900: #827717;
	--PAL_LIME-A100: #F4FF81;
	--PAL_LIME-A200: #EEFF41;
	--PAL_LIME-A400: #C6FF00;
	--PAL_LIME-A700: #AEEA00;

	--PAL_YELLOW-50: #FFFDE7;
	--PAL_YELLOW-100: #FFF9C4;
	--PAL_YELLOW-200: #FFF59D;
	--PAL_YELLOW-300: #FFF176;
	--PAL_YELLOW-400: #FFEE58;
	--PAL_YELLOW-500: #FFEB3B;
	--PAL_YELLOW-600: #FDD835;
	--PAL_YELLOW-700: #FBC02D;
	--PAL_YELLOW-800: #F9A825;
	--PAL_YELLOW-900: #F57F17;
	--PAL_YELLOW-A100: #FFFF8D;
	--PAL_YELLOW-A200: #FFFF00;
	--PAL_YELLOW-A400: #FFEA00;
	--PAL_YELLOW-A700: #FFD600;

	--PAL_AMBER-50: #FFF8E1;
	--PAL_AMBER-100: #FFECB3;
	--PAL_AMBER-200: #FFE082;
	--PAL_AMBER-300: #FFD54F;
	--PAL_AMBER-400: #FFCA28;
	--PAL_AMBER-500: #FFC107;
	--PAL_AMBER-600: #FFB300;
	--PAL_AMBER-700: #FFA000;
	--PAL_AMBER-800: #FF8F00;
	--PAL_AMBER-900: #FF6F00;
	--PAL_AMBER-A100: #FFE57F;
	--PAL_AMBER-A200: #FFD740;
	--PAL_AMBER-A400: #FFC400;
	--PAL_AMBER-A700: #FFAB00;

	--PAL_ORANGE-50: #FFF3E0;
	--PAL_ORANGE-100: #FFE0B2;
	--PAL_ORANGE-200: #FFCC80;
	--PAL_ORANGE-300: #FFB74D;
	--PAL_ORANGE-400: #FFA726;
	--PAL_ORANGE-500: #FF9800;
	--PAL_ORANGE-600: #FB8C00;
	--PAL_ORANGE-700: #F57C00;
	--PAL_ORANGE-800: #EF6C00;
	--PAL_ORANGE-900: #E65100;
	--PAL_ORANGE-A100: #FFD180;
	--PAL_ORANGE-A200: #FFAB40;
	--PAL_ORANGE-A400: #FF9100;
	--PAL_ORANGE-A700: #FF6D00;

	--PAL_DEEP-ORANGE-50: #FBE9E7;
	--PAL_DEEP-ORANGE-100: #FFCCBC;
	--PAL_DEEP-ORANGE-200: #FFAB91;
	--PAL_DEEP-ORANGE-300: #FF8A65;
	--PAL_DEEP-ORANGE-400: #FF7043;
	--PAL_DEEP-ORANGE-500: #FF5722;
	--PAL_DEEP-ORANGE-600: #F4511E;
	--PAL_DEEP-ORANGE-700: #E64A19;
	--PAL_DEEP-ORANGE-800: #D84315;
	--PAL_DEEP-ORANGE-900: #BF360C;
	--PAL_DEEP-ORANGE-A100: #FF9E80;
	--PAL_DEEP-ORANGE-A200: #FF6E40;
	--PAL_DEEP-ORANGE-A400: #FF3D00;
	--PAL_DEEP-ORANGE-A700: #DD2C00;

	--PAL_BROWN-50: #EFEBE9;
	--PAL_BROWN-100: #D7CCC8;
	--PAL_BROWN-200: #BCAAA4;
	--PAL_BROWN-300: #A1887F;
	--PAL_BROWN-400: #8D6E63;
	--PAL_BROWN-500: #795548;
	--PAL_BROWN-600: #6D4C41;
	--PAL_BROWN-700: #5D4037;
	--PAL_BROWN-800: #4E342E;
	--PAL_BROWN-900: #3E2723;

	--PAL_GRAY-50: #FAFAFA;
	--PAL_GRAY-100: #f5f5f5;
	--PAL_GRAY-200: #EEEEEE;
	--PAL_GRAY-300: #E0E0E0;
	--PAL_GRAY-400: #BDBDBD;
	--PAL_GRAY-500: #9E9E9E;
	--PAL_GRAY-600: #757575;
	--PAL_GRAY-700: #616161;
	--PAL_GRAY-800: #424242;
	--PAL_GRAY-900: #212121;
	
	--PAL_BLUEGRAY-50: #ECEFF1;
	--PAL_BLUEGRAY-100: #CFD8DC;
	--PAL_BLUEGRAY-200: #B0BEC5;
	--PAL_BLUEGRAY-300: #90A4AE;
	--PAL_BLUEGRAY-400: #78909C;
	--PAL_BLUEGRAY-500: #607D8B;
	--PAL_BLUEGRAY-600: #546E7A;
	--PAL_BLUEGRAY-700: #455A64;
	--PAL_BLUEGRAY-800: #37474F;
	--PAL_BLUEGRAY-900: #263238;

	--PAL_BLACK: #000;
	--PAL_WHITE: #FFF;

}