body {
	background-color: var(--PAL_GRAY-900);
	color: var(--PAL_GRAY-50);
}

div.navigationbar
{
	background-color: var(--PAL_GRAY-900);
	border-bottom: 1px solid var(--PAL_GRAY-800);
}
div.navigationbar ul li
{
	background-color: var(--PAL_GRAY-800);
}

div.navigationbar a {
	color: var(--PAL_GRAY-50);
	text-decoration: none;
	transition: 200ms;
}
div.navigationbar li:hover {
	background-color: var(--PAL_GRAY-700);
}

/*
		=== Notification
*/
div.notification span[type=error] {
	background-color: var(--PAL_RED-800);
	color: white;
}

div.notification span[type=warn] {
	background-color: var(--PAL_ORANGE-900);
	color: white;
}

div.notification span[type=info] {
	background-color: var(--PAL_LIGHT-BLUE-800);
	color: white;
}

/*
		=== Button
*/
a.btn
{
	background-color:var(--PAL_LIGHT-BLUE-800);
	transition: 100ms;
}
a.btn:hover
{
	transition: 100ms;
	background-color: var(--PAL_LIGHT-BLUE-300);
	color: var(--PAL_GRAY-900);
}

/*
		=== Input Fields
*/
input[type=text],
input[type=number],
input[type=password],
input[type=text]
{
	color: var(--PAL_GRAY-100);
}

/*
		=== Loading Bar
*/
div.progress
{
	background-color: var(--PAL_BLUE-A100);
}
div.progress div.indeterminate,
div.progress div.determinate
{
	background-color: var(--PAL_BLUE-900);
}

/*
		=== SweetAlert
*/
:root
{
	--swal-red: var(--PAL_RED-A700);
	--swal-blue: var(--PAL_INDIGO-400);
	--swal-green: var(--PAL_GREEN-600);
	--swal-green-light: var(--PAL_LIGHT-GREEN-400);
	--swal-orange: var(--PAL_ORANGE-800);
}
/* error */
.swal-icon--error__line
{
	background-color: var(--swal-red);
}
.swal-icon--error
{
	border-color: var(--swal-red);
}

/* warning */
.swal-icon--warning__dot,
.swal-icon--warning__body {
	background-color: var(--swal-orange);
}
.swal-icon--warning,
.swal-icon--warning {
	border-color: var(--swal-orange);
	-webkit-animation: pulseWarning .75s infinite alternate;
	animation: pulseWarning .75s infinite alternate;
}
@keyframes pulseWarning
{
	0%
	{
		filter: saturation(0%);
	}
	100%
	{
		filter: saturation(100%);
	}
}

/* success */
.swal-icon--success__line,
.swal-icon--success__body {
	background-color: var(--swal-green);
}

.swal-icon--success__ring {
	border-color: var(--swal-orange);
	border-top-color: var(--swal-orange);
	border-bottom-color: var(--swal-orange);
	border-left-color: var(--swal-orange);
	border-right-color: var(--swal-orange);
}

div.swal-button,
.swal-button--confirm {
	background-color: var(--PAL_GRAY-900);
}

div.swal-button:focus,
.swal-button--confirm:focus {
	background-color: var(--PAL_GRAY-900);
}

.swal-button:not([disabled]):hover {
	background-color: var(--PAL_GRAY-400);
}

div.swal-button:hover,
.swal-button--confirm:hover {
	background-color: var(--PAL_GRAY-400);
	color: var(--PAL_GRAY-900);
	transition: 300ms;
}

div.swal-text {
	color: var(--PAL_WHITE);
}
div.swal-modal {
	background-color: var(--PAL_GRAY-800);
}

div.swal-modal ::before {
	background: var(--PAL_GRAY-800);
}

div.swal-modal ::after {
	background: var(--PAL_GRAY-800);
}

div.swal-modal div.swal-icon--success__hide-corners {
	background: var(--PAL_GRAY-800);
}

div.swal-modal div.swal-icon--success__ring {
	border-color: var(--PAL_GRAY-400);
}

div.swal-title {
	color: var(--PAL_WHITE);
}