

/* Profile Table Container */
div.container table tbody tr td,
div.container table tbody tr th
{
	/* Align content to top of table */
	vertical-align: top;
	padding: 0;
	margin: 0;
}

div.container table .page_Account.Body
{
	--page_Account-body-width: calc(100vw - 10vw - 280px - 20px);
	padding-left: 20px;
	padding-right: 20px;
	width: var(--page_Account-body-width);
}
div.container table .page_Account.Body .SectionHeader
{
	border-top: 1px dashed var(--PAL_GRAY-700);
	max-width: 50vw;
	padding: 15px;
	margin: 0;
	margin-top: 30px;
}

/* Profile Information Card */
.page_Account.BasicInformationCard
{
	--width: 280px;
	width: var(--width);
	float:right;
	border-radius: 10px;
	background-color: var(--PAL_GRAY-800);
}
.page_Account.BasicInformationCard .CenterAlign
{
	text-align: center;
}

.page_Account.BasicInformationCard li,
.page_Account.BasicInformationCard ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 18pt;
}
.page_Account.BasicInformationCard li table
{
	font-size: 12pt;
	width: calc(var(--var) - 8px);
	margin-left: 4px;
	margin-right: 4px;
}
.page_Account.BasicInformationCard img.ProfilePicture
{
	border-radius: 15px;
	width: calc(var(--width) - 16px);
	margin: 8px;
	height: calc(var(--width) - 16px);
}